* {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

html {
  height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}

.contenedor {4
  775
  height: 100%;
}


header {
  width: 100%;
}

nav {
  background-color: aquamarine;
  box-shadow: 0px 6px 0px turquoise;
  display: flex;
  align-items: center;
  height: 60px;
}

nav > div {
  padding: 0px 15px;
}

nav .logo {
  width: 50%;
  font-size: 18px;
}

nav .logo a {
  color: teal;
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

nav .botonera {
  width: 50%;
}

nav .botonera ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav .botonera li {
  flex-grow: 1;
  flex-basis: 0;
}

nav .botonera a {
  padding: 10px;
  height: 40px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .botonera li a:hover {
  background: rgba(0,0,0,.1);
}

.busqueda {
  width: 25%;
}

.busqueda input {
  width: 100%;
  border-radius: 50px;
  border: 2px solid turquoise;
  height: 28px;
  background: turquoise
}

.busqueda input:focus {
  background: white;
}

#botonera .boton {
  background:#ECF725 ;
  font-size:10px;
  color: black;
  display:inline-block;
  font-size: 16px;
  font-weight: bold;
  margin:20px 0px;
  padding:10px 0px;
  text-align: center;
  width:200px;
  text-decoration:none;
  box-shadow: 0px 6px 0px orange;
  cursor: pointer;
  user-select: none;
}

#botonera .boton:nth-child(even) {
  background:#B725F7 ;
  box-shadow: 0px 6px 0px purple;
  color:white;
}

#botonera .boton:active {
  background: gold;
}

#sugerencias .titulo {
  font-family: 'Merriweather', serif;
}

section {
  margin: 20px;
}

section.categorias {
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

section.categorias div.pais {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 5px black;
  display: inline-block;
}

section.categorias .pais .foto {
  width: 100%;
  height: 80%;
  border-radius: 10px 10px 0px 0px;
}

section.categorias .pais .descripcion {
  width: 100%;
  height: 20%;
  text-align: center;
  padding-top: 9px;
  font-weight: bold;
}

section.categorias .pais div#argentina {
  background: url("fotos/argentina.jpg");
  background-size: cover;
}

section.categorias .pais div#brasil {
  background: url("fotos/brasil.jpg");
  background-size: cover;
}

section.categorias .pais div#uruguay {
  background: url("fotos/uruguay.jpg");
  background-size: cover;
}

section.categorias .pais div#paraguay {
  background: url("fotos/paraguay.jpg");
  background-size: cover;
}

section.categorias .pais div#bolivia {
  background: url("fotos/bolivia.jpg");
  background-size: cover;
}

section.categorias div.pais div#chile {
  background: url("fotos/chile.jpg");
  background-size: cover;
}

section.portada {
  margin: 0; 
  background: url("fotos/wallpaper.jpg") no-repeat center center scroll;
  background-size: cover;
  height:600px;
  margin-bottom: 50px;
  display: flex;
  align-items:center;
  justify-content: center; 
}
section.portada.paseos{
  background: url("fotos/paseos.jpg") no-repeat center center scroll;
  margin: 0; 
  background-size: cover;
  height:600px;
  margin-bottom: 50px;
  display: flex;
  align-items:center;
  justify-content: center; 
}

section.portada h1{
  color: antiquewhite;
  font-size: 5em;
  text-shadow: 0px 5px 0px black;
}

footer {
  display:flex; 
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  padding:5px 0px;
  background: teal;
  height: 200px;
  
} 
footer div {
  padding-left: 5em;
  padding-right: 5em;
}

footer .espaciadosuperior {
  margin-top: 20px;
  
}

footer div a {
  text-decoration: none;
  color: white;
  clear: both; 
  display: block;
}

.negrita {
font-weight: bold;
}

span.logo {
  font-family: 'Satisfy', cursive;
}

section.paseos aside.provincias{
  float: left;
}
section.paseos div.destinos{

}