html,body{
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
}

#logo {
  color: red;
  font-family: 'Satisfy', cursive;
  font-size: 32px;
}

body {
  background: url("wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
}

.boton {
  background:#ECF725 ;
  font-size:10px;
  color: black;
  display:inline-block;
  font-size: 16px;
  margin:20px;
  padding:10px 0px;
  text-align: center;
  width:200px;
  text-decoration:none;
  box-shadow: 0px 6px 0px orange;
}

#botonera .boton:nth-child(even)
{
  background:#B725F7 ;
  box-shadow: 0px 6px 0px purple;
  color:white;
  }

  .titulo{font-family: 'Merriweather', serif;}
